{{#partial "content"}}
	<h1 style="font-family:sans-serif">Add Job</h1>
	<form action="/api/v1/charity/{{org.email}}/job" method="post" name="addjob">
		Summary
		<br>
		<input type="text" name="summary" required>
		<br>
		Address Line 1:
		<br>
		<input type="text" name="address1" value="{{org.location.address1}}" required>
		<br>
		Address Line 2 (optional):
		<br>
		<input type="text" name="address2" value="{{org.location.address2}}">
		<br>
		City:
		<br>
		<input type="text" name="city" value="{{org.location.town}}" required>
		<br>
		County:
		<br>
		<input type="text" name="county" value="{{org.location.county}}">
		<br>
		Postal Code:
		<br>
		<input type="text" name="postcode" value="{{org.location.postcode}}"required>
		<br>
		Country:
		<br>
		<input type="text" name="country" value="{{org.location.country}}" required>
		<br>
		<br>
		Time:
		<br>
		<input type="datetime-local" name="expiration" required>
		<br>
		Number of Volunteers Wanted:
		<br>
		<input type="number" min="1" step="1" value="1" name="requiredVolunteers" required>
		<br>
		<!--<br>
		<input type="checkbox" name="recurring">

		This is a recurring task
		<br>
		<input type="radio" name="daily">  Every Day
		<input type="radio" name="weekly">    Every Week
		<input type="radio" name="monthly">    Every Month
		<br><br>-->
		Job Description (optional):
		<br>
		<input type="text" name="description" style="height: 200px;width:40vw"></input>
		<br><br>
		Required Skills
		<br>
		<select class="microteer-skills" name="requiredSkills[]" multiple>
			<option>plumbing</option>
			<option>electrician</option>
			<option>cooking</option>
			<option>general volunteering</option>
		</select>
		<br>
		Wanted Skills
		<br>
		<select class="microteer-skills" name="wantedSkills[]" multiple>
			<option>plumbing</option>
			<option>electrician</option>
			<option>cooking</option>
			<option>general volunteering</option>
		</select>
		<br>
		<br>
		<input type="submit" value="Submit">
	</form>
	<script>
		apiv1.form({
			selector: 'form[name=addjob]',
			alertSuccess: 'Job added successfully!',
			alertFailure: 'Job could not be added!',
			alertSuccessMessage: 'Do you want to <a href="/charity/add-job" class="alert-link">add another</a>?',
		});
	</script>
{{/partial}}

{{> base.html}}
