{{#partial "content"}}
	<form action="/api/v1/charity/{{org.email}}/user" method="post" name="adduser">
		<fieldset>
			<legend><h1>Admin information:</h1></legend>
			Username:<br>
			<input type="text" name="fullname" required>
			<br>
			Email:<br>
			<input type="email" name="email" required>
			<br>
			Password:<br>
			<input type="password" name="password" required>
			<br>
			<br>
			<input type="submit" value="Submit">
		</fieldset>
	</form>
	<script>
		apiv1.form({
			selector: 'form[name=adduser]',
			alertSuccess: 'Admin added successfully!',
			alertFailure: 'Failed to add admin!',
			alertSuccessMessage: 'Do you want to <a href="/charity/profile" class="alert-link">edit the charity profile</a>?',
		});
	</script>
{{/partial}}

{{> base.html}}
