{{#partial "content"}}
	<h1 style="font-family:sans-serif">Pending Jobs</h1>

	<div id="results"></div>
	<script type="text/javascript">
		function deleteJob(job) {
			apiv1.request({
				url: '/api/v1/charity/{{org.email}}/job/'+job.data('uuid'),
				type: 'DELETE',
			}).done(function() {
				job.remove();
			});
		};
		apiv1.request({
			url: '/api/v1/charity/{{org.email}}/job',
		}).done(function(data) {
			var results = $('#results');
			for (var job of data) {
				results.append(microteerjob.render(job, undefined, deleteJob));
			}
		});
	</script>
{{/partial}}

{{> base.html}}
