{{#partial "content"}}
	<form action="/api/v1/charity/{{org.email}}" method="post" name="charityeditprofile">
		<fieldset>
			{{#user}}
			<legend><h1>Charity User Information</h1></legend>
			Email address:<br>
			<input type="email" name="adminEmail" value="{{email}}" required>
			<br>
			Your New Password:<br>
			<input type="password" name="adminPassword" required>
			<br>
			Name:<br>
			<input type="text" name="adminName" value="{{fullName}}" required>
			<br>
			{{/user}}

			{{#org}}
			<legend><h1>Charity Information:</h1></legend>
			Organization Name:<br>
			<input type="text" name="orgname" value="{{name}}" required>
			<br>
			Organization Email:<br>
			<input type="email" name="orgemail" value="{{email}}" required>
			<br>
			{{#location}}
			Address Line 1:
			<br>
			<input type="text" name="address1" value="{{address1}}" required>
			<br>
			Address Line 2 (optional):
			<br>
			<input type="text" name="address2" value="{{address2}}">
			<br>
			City:
			<br>
			<input type="text" name="city" value="{{town}}" required>
			<br>
			County:
			<br>
			<input type="text" name="county" value="{{county}}">
			<br>
			Postal Code:
			<br>
			<input type="text" name="postcode" value="{{postcode}}" required>
			<br>
			Country:
			<br>
			<input type="text" name="country" value="{{country}}" required>
			{{/location}}
			<br>
			Phone Number:
			<br>
			<input type="te;" name="phone" value="{{phone}}" required>
			<br>
			Website:
			<br>
			<input type="text" name="website" value="{{website}}" required>
			<br>
			Organization Description:
			<br>
			<input type="text" name="description" style="height: 200px;width:40vw" value="{{description}}" required>
			<br>
			{{/org}}
			<br>
			<input type="submit" value="Submit">
		</fieldset>
	</form>
	<script>
		apiv1.form({
			selector: 'form[name=charityeditprofile]',
			type: 'PUT',
			alertSuccess: 'Editing successful!',
			alertFailure: 'Editing failed!',
			alertSuccessMessage: '',
		});
	</script>
{{/partial}}

{{> base.html}}
