{{#partial "content"}}
	<form action="/api/v1/charity" method="post" name="csignup">
		<fieldset>
			<legend><h1>Charity Information:</h1></legend>
			Organization Name:<br>
			<input type="text" name="orgname" required>
			<br>
			Organization Email:<br>
			<input type="email" name="orgemail" required>
			<br>
			Address Line 1:
			<br>
			<input type="text" name="address1" required>
			<br>
			Address Line 2 (optional):
			<br>
			<input type="text" name="address2">
			<br>
			City:
			<br>
			<input type="text" name="city" required>
			<br>
			County:
			<br>
			<input type="text" name="county">
			<br>
			Postal Code:
			<br>
			<input type="text" name="postcode" required>
			<br>
			Country:
			<br>
			<input type="text" name="country" required>
			<br>
			Website:
			<br>
			<input type="text" name="website" required>
			<br>
			Phone number:
			<br>
			<input type="tel" name="phone" required>
			<br>
			Organization Description:
			<br>
			<input type="text" name="description" style="height: 200px;width:40vw" required></input>
			<br>
			<br>
			<legend><h1>Admin information:</h1></legend>
			Full name:<br>
			<input type="text" name="adminName" required>
			<br>
			Email:<br>
			<input type="email" name="adminEmail" required>
			<br>
			Password:<br>
			<input type="password" name="adminPassword" required>
			<br>
			<br>
			<input type="submit" value="Submit">
		</fieldset>
	</form>
	<script>
		apiv1.form({
			selector: 'form[name=csignup]',
			alertSuccess: 'Signup successful!',
			alertFailure: 'Signup failed!',
			alertSuccessMessage: 'Do you want to <a href="/login" class="alert-link">login</a>?',
		});
	</script>
{{/partial}}

{{> base.html}}
