* {
    font-family: "verdana";
}
ul#header-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul#header-menu li {
    float: left;
    border-right:1px solid #bbb;
}

ul#header-menu li:last-child {
	border-left: 1px solid #bbb;
    border-right: none;
}

ul#header-menu li a, ul#header-menu .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 35px;
    text-decoration: none;
}

ul#header-menu li a:hover:not(.active) {
    background-color: #111;
}

ul#header-menu .active {
    background-color: #969696;
}
ul#header-menu li.dropdown {
    display: inline-block;
}

ul#header-menu .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 115px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

ul#header-menu .dropdown-content a {
    color: black;
    text-color: white;
    padding: 12px 16px;
	min-width: 126px;
    text-decoration: none;
    display: block;
    text-align: left;
}

ul#header-menu .dropdown-content a:hover {
	background-color: #f1f1f1;
}
ul#header-menu .dropdown:hover .dropdown-content {
    display: block;
}
