div#results {
    padding: 20px;
}

div.job {
    position: relative;
    display: flex;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
    margin: 5px;
}
div.job h2 {
    margin-top: 5px;
}

div.job > div {
    padding: 5px;
}
div.job .main {
    flex: 1 1;
}
div.job p.job-description {
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}
div.job .meta {
    width: 240px;
}
div.job p {
    white-space: pre-line;
}

div.job .organisation {
    font-size: 1.6em;
    margin-bottom: 10px;
}

div.job .buttons {
    position: absolute;
    bottom: 5px;
    right: 5px;
}
div.job .buttons button {
    visibility: hidden;
}
div.job .buttons i {
    visibility: visible;
    color: #303030;
    transition: color 0.2s;
}
div.job .buttons .accept:hover i {
    color: #04ca04;
}
div.job .buttons .reject:hover i {
    color: #ca0c0c;
}
