{{#partial "content"}}
	<h1>Pending Jobs</h1>

	<div class="joblist" id="results"></div>
	<script type="text/javascript">
		function acceptJob(job) {
			apiv1.request({
				url: '/api/v1/volunteer/{{user.email}}/accepted',
				type: 'POST',
				data: {uuid: job.data('uuid')},
			}).done(function() {
				job.remove();
			});
		};
		function rejectJob(job) {
			apiv1.request({
				url: '/api/v1/volunteer/{{user.email}}/allocated/'+job.data('uuid'),
				type: 'DELETE',
				data: {reason: 'badMatch'}
			}).done(function() {
				job.remove();
			});
		};
		apiv1.request({
			url: '/api/v1/volunteer/{{user.email}}/allocated',
		}).done(function(data) {
			var results = $('#results');
			for (var job of data) {
				results.append(microteerjob.render(job, acceptJob, rejectJob));
			}
		});
	</script>
{{/partial}}

{{> base.html}}
