{{#partial "content"}}
	<h1>View Jobs</h1>

	<div class="joblist" id="results"></div>
	<script type="text/javascript">
		apiv1.request({
			url: '/api/v1/volunteer/{{user.email}}/accepted',
		}).done(function(data) {
			var results = $('#results');
			for (var job of data) {
				results.append(microteerjob.render(job));
			}
		});
	</script>
{{/partial}}

{{> base.html}}
