{{#partial "includes"}}
	<script src="/js/volunteer/search.js" defer></script>
{{/partial}}

{{#partial "content"}}
	<h1>Search for Matches</h1>
	<form action="/api/v1/job" method="get" name="search">
		<input name="search" type="text" placeholder="Search..."></input>
		<div id="results"></div>
	</form>
{{/partial}}

{{> base.html}}
