{{#partial "content"}}
    <form action="/api/v1/volunteer" method="post" name="signup">
        <fieldset>
            <legend><h1>Personal information:</h1></legend>
            Full name:<br>
            <input type="text" name="fullname" required>
            <br>
            Email:<br>
            <input type="email" name="email" required>
            <br>
            Password:<br>
            <input type="password" name="password" required>
            <br>
            Address Line 1:
            <br>
            <input type="text" name="address1" required>
            <br>
            Address Line 2 (optional):
            <br>
            <input type="text" name="address2">
            <br>
            City:
            <br>
            <input type="text" name="city" required>
            <br>
            County:
            <br>
            <input type="text" name="county">
            <br>
            Postal Code:
            <br>
            <input type="text" name="postcode" required>
            <br>
            Country:
            <br>
            <input type="text" name="country" required>
            <br>
            Phone number:
            <br>
            <input type="tel" name="phone" required>
            <br>
            Maximum distance(in Km) you would travel to a job?:
            <br>
			<input type="number" min="0" step="10" name="dist" value="30">
            <br>
            Skills
            <br>
            <select class="microteer-skills" name="skills[]" multiple>
                <option>plumbing</option>
                <option>electrician</option>
                <option>cooking</option>
                <option>general volunteering</option>
            </select>

            <br>
            Time Availability.
            <br>
            <div class="timediv" style="display:block;">
                <table>
                    <tr>
                        <th></th>
                        <th>Morning</th>
                        <th>Afternoon</th>
                        <th>Evening</th>
                    </tr>
                    <tr>
                        <td>Monday</td>
                        <td><input type="checkbox" name="times[monday][morning]:boolean"></td>
                        <td><input type="checkbox" name="times[monday][afternoon]:boolean"></td>
                        <td><input type="checkbox" name="times[monday][evening]:boolean"></td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td><input type="checkbox" name="times[tuesday][morning]:boolean"></td>
                        <td><input type="checkbox" name="times[tuesday][afternoon]:boolean"></td>
                        <td><input type="checkbox" name="times[tuesday][evening]:boolean"></td>
                    </tr>
                    <tr>
                        <td>Wednesday</td>
                        <td><input type="checkbox" name="times[wednesday][morning]:boolean"></td>
                        <td><input type="checkbox" name="times[wednesday][afternoon]:boolean"></td>
                        <td><input type="checkbox" name="times[wednesday][evening]:boolean"></td>
                    </tr>
                    <tr>
                        <td>Thursday</td>
                        <td><input type="checkbox" name="times[thursday][morning]:boolean"></td>
                        <td><input type="checkbox" name="times[thursday][afternoon]:boolean"></td>
                        <td><input type="checkbox" name="times[thursday][evening]:boolean"></td>
                    </tr>
                    <tr>
                        <td>Friday</td>
                        <td><input type="checkbox" name="times[friday][morning]:boolean"></td>
                        <td><input type="checkbox" name="times[friday][afternoon]:boolean"></td>
                        <td><input type="checkbox" name="times[friday][evening]:boolean"></td>
                    </tr>
                    <tr>
                        <td>Saturday</td>
                        <td><input type="checkbox" name="times[saturday][morning]:boolean"></td>
                        <td><input type="checkbox" name="times[saturday][afternoon]:boolean"></td>
                        <td><input type="checkbox" name="times[saturday][evening]:boolean"></td>
                    </tr>
                    <tr>
                        <td>Sunday</td>
                        <td><input type="checkbox" name="times[sunday][morning]:boolean"></td>
                        <td><input type="checkbox" name="times[sunday][afternoon]:boolean"></td>
                        <td><input type="checkbox" name="times[sunday][evening]:boolean"></td>
                    </tr>
                </table>
            </div>
            <br>
            <br>
            <input type="checkbox" name="companyaccess" value="access"> Make my profile available to matched companies
            <br>
            <br>
            <input type="submit" value="Submit">
        </fieldset>
    </form>

    <script>
        apiv1.form({
            selector: 'form[name=signup]',
            alertSuccess: 'Signup successful!',
            alertFailure: 'Signup failed!',
            alertSuccessMessage: 'Do you want to <a href="/login" class="alert-link">login</a>?',
        });
    </script>
{{/partial}}

{{> base.html}}
