{{#partial "content"}}
<h2>
About Us
</h2>
<br>
<br>
<p>
Today’s economy increasingly relies on the Internet to take advantage of a “gig economy.” In a gig economy, workers are hired for short-term jobs through a contractor. 
Workers can advertise their skills through a third party online platform, and are hired by private individuals for short periods of time to fulfill a single task. 
The proliferation of websites and mobile apps makes it easy to advertise your skills and match to people looking for those skills. Some examples of this include Uber and TaskRabbit.
</p>
<p>
The gig economy has enormous potential to transform the volunteering marketplace. Traditionally, small organizations rely on volunteering and word of mouth to recruit volunteers. 
However, these organizations operate on a tight budget and cannot devote sufficient resources to build a volunteer management team. 
Thus, it has traditionally been much easier for larger organizations with more money to source and manage their volunteers. 
The shift to a gig economy can be especially beneficial to small organizations that do not have the capital necessary to do in-house recruitment of volunteers.
</p>
<p>
Through this project, it is our aim to develop a website that will allow volunteers and small non-profit organizations to participate in the gig economy. 
This platform will allow volunteers to sign up by listing their geographical location and skillset. 
Organizations will be able to register by providing the details of their company and advertising available opportunities with the company. 
This will allow small organizations to outsource their volunteer recruitment by providing a simple advertisement on the online platform.
	
</p>
<p>
Micro-Volunteering was developed by Team Kilo, a group of students at the University of Cambridge, for their Part 1B Group Project, with the support of JP Morgan.
</p>
{{/partial}}

{{> base.html }}

