<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/vendor/fontawesome/css/font-awesome.min.css">
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/jquery.serializeJSON/jquery.serializejson.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <script src="/vendor/select2/js/select2.min.js"></script>
    <link rel="stylesheet" href="/vendor/select2/css/select2.min.css">
    <script src="/vendor/underscore/underscore-min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/job.css">
    <script src="/js/apiv1.js"></script>
    <script src="/js/job.js"></script>
    <script src="/js/skills.js"></script>

    {{#block "includes"}}
    {{/block}}
</head>
<body>
    {{> header.html}}

    <div id="alerts" class="container"></div>
    <div class="container">
        {{#block "content"}}
        {{/block}}
    </div>
</body>
</html>

