{{#partial "content"}}
<h2>	
Contact Us
</h2>
We would love to hear from you! Please send any emails regarding our project to: <a href="mailto:kilo@mit.edu?Subject=Micro%20Volunteering%20Inquiries">kilo@mit.edu</a>
{{/partial}}

{{> base.html }}

