<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button"
				class="navbar-toggle collapsed"
				data-toggle="collapse"
				data-target="#header-navbar-collapse"
				aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Microteer</a>
		</div>

		<div id="header-navbar-collapse" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#"
						class="dropdown-toggle"
						data-toggle="dropdown"
						role="button"
						aria-haspopup="true"
						aria-expanded="false">About Microteer <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/about">About</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</li>
				{{#if volunteer}}
					<li class="dropdown">
						<a href="#"
							class="dropdown-toggle"
							data-toggle="dropdown"
							role="button"
							aria-haspopup="true"
							aria-expanded="false">Jobs <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/volunteer/available-jobs">Available</a></li>
							<li><a href="/volunteer/jobs">Accepted</a></li>
							<li><a href="/volunteer/search">Search</a></li>
						</ul>
					</li>
				{{else}}
					{{#if org}}
						<li class="dropdown">
							<a href="#"
								class="dropdown-toggle"
								data-toggle="dropdown"
								role="button"
								aria-haspopup="true"
								aria-expanded="false">Jobs <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/charity/jobs">View</a></li>
								<li><a href="/charity/add-job">Create</a></li>
							</ul>
						</li>
						<li><a href="/charity/add-user">Add Admin User</a></li>
					{{/if}}
				{{/if}}
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{{#if user}}
					<p class="navbar-text">Signed in as {{user.fullName}}</p>
					<li class="dropdown">
						{{#if notifications.size}}
							<i class="dropdown-toggle fa fa-bell navbar-text fa-lg"
								role="button"
								data-toggle="dropdown"
								aria-haspopup="true"
								aria-expanded="false"></i>
							<ul class="dropdown-menu">
								{{#each notifications}}
									<li class="microteer-notification">
										<h3>{{subject}}</h3>
										<p>{{body}}</p>
									</li>
								{{/each}}
							</ul>
						{{else}}
							<i class="dropdown-toggle fa fa-bell-o navbar-text fa-lg"
								role="button"
								data-toggle="dropdown"
								aria-haspopup="true"
								aria-expanded="false"></i>
							<ul class="dropdown-menu">
								<li><p class="navbar-text">No unread notifications</p></li>
							</ul>
						{{/if}}
					</li>
					{{#if volunteer}}
						<li><a href="/volunteer/profile">Edit Profile</a></li>
					{{else}}
						<li><a href="/charity/profile">Edit Profile</a></li>
					{{/if}}
					<li><a href="/" id="microteer-logout">Logout</a></li>
					<script type="text/javascript">
						$('#microteer-logout').click(function(event) {
							event.preventDefault();
							var a = $(this);
							apiv1.request({
								url: '/api/v1/session/session',
								type: 'DELETE',
							}).done(function() {
								window.location.assign(a.attr('href'));
							});
						});
					</script>
				{{else}}
					<li class="dropdown">
						<a href="#"
							class="dropdown-toggle"
							data-toggle="dropdown"
							role="button"
							aria-haspopup="true"
							aria-expanded="false">Sign Up <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/volunteer/signup">Volunteer</a></li>
							<li><a href="/charity/signup">Charity</a></li>
						</ul>
					</li>
					<li><a href="/login">Log In</a></li>
				{{/if}}
			</ul>
		</div>
	</div>
</nav>
