{{#partial "includes"}}
	<script src="/js/login.js" defer></script>
{{/partial}}

{{#partial "content"}}
	<h2>Log In</h2>
	<form action="/api/v1/session" method="post" name="login">
		Email:
		<br>
		<input type="email" name="email" required>
		<br>
		Password:
		<br>
		<input type="password" name="password" required>
		<br><br>
		<input type="submit" value="Log In">
	</form>
{{/partial}}

{{> base.html }}
